.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-section {
  content: "";
  background: url(../pictures/footer/map/map.jpg) center;
  background-size: cover;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}